<!doctype html>
<html>
    <head>
        <title>{{blogtitle}}</title>
              
    </head>
<body style="background-color:blanchedalmond;">
    

    <div style='float: center'>
        <table style = "width: 100%", border="3px solid black;">
            <tr>
                <th style = "background-color:cyan"><a href="/">Blog Posts</a></th>  
                <th style="background-color:darkcyan"><a href="newpost">Say Something New</a></th>
            </tr>
        </table>
    </div>

    {% block content %}
    {% endblock %}

</body>
</html>