<!doctype html>
<html>
    <head>
        <title>{{blogtitle}}</title>
              
    </head>
<body style="background-color:blanchedalmond;">
    

    <div style='float: center'>
        <table style = "width: 50%", border="3px solid black;">
            <tr>
                
                <th style = "background-color:cyan"><a href="/">Home</a></th>
                <th style = "background-color:cyan"><a href="/blog">Blog Posts</a></th>  
                <th style="background-color:cyan"><a href="newpost">Say Something New</a></th>
                <th style = "background-color:cyan"><a href="/login">Login</a></th>
                <th style = "background-color:cyan"><a href="/logout">Logout</a></th>
                
                
            </tr>
        </table>
    </div>

    {% block content %}
    {% endblock %}

</body>
</html>